.level{
    border: 1px solid black;
    width: 200px;
    text-align: center;
    background-color: rgb(38, 2, 138);
}
a {
color: white;
text-decoration: none;
}

.square {
    background: red;
    width: 100px;
    height: 100px;
    margin: 50px auto;
  }
  
  <STYLE type=text/css>A {
	COLOR: blue; TEXT-DECORATION: none
}
A:active {
	COLOR: blue; TEXT-DECORATION: none
}
A:visited {
	COLOR: blue; TEXT-DECORATION: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: none
}
</STYLE>
	<!--
    	This script downloaded from www.JavaScriptBank.com
    	Come to view and download over 2000+ free javascript at www.JavaScriptBank.com
	-->
